body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 90vh;
  width: 100%;
  
}



nav ul {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  width: 15vw;
  float: right;
  font-family: arial, sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 25px;
}

.gmail {
  text-decoration: none;
  color: black;
}
.images {
  text-decoration: none;
  color: black;
}
.nav img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  box-sizing: border-box;
  border-radius: 2px;

}

nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.btn {
  background: #5232a8 !important;
  height: 35px !important;
  width: 35px !important;
  border-radius: 50% !important;
  color: white !important;
  justify-content: center;
  margin-top: -10px !important;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 75vh;
  width: 100vw;
  color: #f2f2f2;
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center; */
}

.search-bar {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 45px;
  width: 450px;
  border: 0.5px solid rgb(222, 221, 221);
  border-radius: 25px;
  
  font-size: 15px;
  text-align: left;
  padding-left: 30px;
}

button {
  background: #f5f5f5;
  color: gray;
  border-radius: 5px;
  height: 35px;
  width: auto;
  font-size: 13px;
  border: 0.2px solid rgb(182, 178, 178);
  margin-left: 10px;
}
button:hover {
  border: 0.5px solid rgb(182, 178, 178);
  color: black;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.language {
  margin-top: 30px;
  font-size: 13px;
  color: black;
}
.kiswahili {
  color: #3738b2;
  text-decoration: none;
}
.kiswahili:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* --------footer-------- */
footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.footer-1 {
  background: #f2f2f2;
  height: 5vh;
  border: 0.3px solid rgb(227, 227, 227);
}
.footer-1 p{
    margin-left: 37px;
    color: rgba(0,0,0,.54);
}
.footer-2 {
  background: #f2f2f2;
  border: 0.3px solid rgb(227, 227, 227);
  height: 5vh;
  display: flex;
  
}


.footer-2-1 {
    display: inline-block;
    list-style: none; 
    margin: 10px 0px 0px 30px;
    color: rgba(0,0,0,.54);

    
}
.footer-2-1 span {
    font-size: 13px;
    margin: 0px 10px 0px;
}

.footer-2-1 span:hover {
    text-decoration: underline;
}

.footer-2-2{
margin-left: 53rem;
margin-top: 10px;
font-size: 13px;
color: rgba(0,0,0,.54);
}

.footer-2-2 span{
    margin: 0px 10px 0px;
}
.footer-2-2 span:hover {
    text-decoration: underline;
}